Create database Practica_2 
USE [Practica_2]
CREATE TABLE [dbo].[Alumnos](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[ApellidoPaterno] [varchar](15) NOT NULL,
	[ApellidoMaterno] [varchar](15) NOT NULL,
	[Matricula] [int] NOT NULL,


		Constraint PK_IC primary Key (Id)
)

CREATE TABLE [dbo].[Edificios](
	[Id] [uniqueidentifier] NOT NULL,
	[UbicacionDelEdificio] [varchar](30) NOT NULL,

	

		Constraint PK_RA primary Key (Id)
)

CREATE TABLE [dbo].[Excursion](
	[Nombre] [uniqueidentifier] NOT NULL,
	[fecha] [date] NOT NULL,
	[PrecioPorAlumno] [int] NOT NULL,
	[Hora] [time](7) NOT NULL,

		Constraint PK_RE primary Key (Nombre)
)


CREATE TABLE [dbo].[Libros](
	[Nombre] [uniqueidentifier] NOT NULL,
	[Edicion] [int] NOT NULL,
	[FechaDePublicacion] [date] NOT NULL,
	[AñosQueTieneElLibro]  AS (datediff(year,[FechaDePublicacion],getdate())),

		Constraint PK_RI primary Key (Nombre)
)


CREATE TABLE [dbo].[Maestros](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[ApellidoPaterno] [varchar](15) NOT NULL,
	[ApellidoMaterno] [varchar](15) NOT NULL,
	[FechaDeNacimiento] [date] NOT NULL,
	[Edad]  AS (datediff(year,[FechaDeNacimiento],getdate())),


		Constraint PK_RO primary Key (Id)
)

CREATE TABLE [dbo].[Materias](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreDeLaMateria] [varchar](50) NOT NULL,
	[GradoDeLaMateria] [varchar](15) NOT NULL,


		Constraint PK_KO primary Key (Id)
)

CREATE TABLE [dbo].[Nomina](
	[NumeroDeEmpleado] [uniqueidentifier] NOT NULL,
	[Horas] [int] NOT NULL,
	[Pago] [money] NOT NULL,
	[Recibo]  AS ([Horas]*[pago]),


		Constraint PK_RU primary Key (NumeroDeEmpleado)
)

CREATE TABLE [dbo].[PagosDeColegiatura](
	[Matricula] [uniqueidentifier] NOT NULL,
	[Inscripcion] [int] NOT NULL,
	[Materias] [int] NOT NULL,
	[Beca] [decimal](18, 0) NOT NULL,
	[PagoFinal]  AS ([Beca]*([Inscripcion]+[Materias])),

		Constraint PK_EF primary Key (Matricula)
)


CREATE TABLE [dbo].[Salones](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](5) NOT NULL,
	[CantidadDeAsientos] [int] NOT NULL,
	[Ubicacion] [varchar](20) NOT NULL,
	[Descripcion]  AS (([Ubicacion]+'')+[Nombre]),

		Constraint PK_DO primary Key (Id)
)


CREATE TABLE [dbo].[TallaUniforme](
	[Id] [uniqueidentifier] NOT NULL,
	[UniformeDeportivo] [varchar](5) NOT NULL,
	[UniformeGala] [varchar](5) NOT NULL,
	[PedidosDeUniformes]  AS ([UniformeDeportivo]+[UniformeGala]),

		Constraint PK_MO primary Key (Id)
)



	INSERT INTO Alumnos (Id,Nombre,ApellidoPaterno,ApellidoMaterno,Matricula)
Values(NEWID(),'Juan','Reyna','Garza',1937862);

INSERT INTO Alumnos (Id,Nombre,ApellidoPaterno,ApellidoMaterno,Matricula)
Values(NEWID(),'Bob','Peo','Prat',1243244);

INSERT INTO Alumnos (Id,Nombre,ApellidoPaterno,ApellidoMaterno,Matricula)
Values(NEWID(),'Pepper','Martinez','elos',1546547);









INSERT INTO Edificios(Id,UbicacionDelEdificio)
Values(NEWID(),'Morones');

INSERT INTO Edificios(Id,UbicacionDelEdificio)
Values(NEWID(),'LazaroCardenas');

INSERT INTO Edificios(Id,UbicacionDelEdificio)
Values(NEWID(),'Alameda');









INSERT INTO Excursion(Nombre,Fecha,PrecioPorAlumno,Hora)
Values(NEWID(),GETDATE(),3, GETDATE() );

INSERT INTO Excursion(Nombre,Fecha,PrecioPorAlumno,Hora)
Values(NEWID(),GETDATE(),1, GETDATE() );

INSERT INTO Excursion(Nombre,Fecha,PrecioPorAlumno,Hora)
Values(NEWID(),GETDATE(),1, GETDATE() );










INSERT INTO Libros(Nombre,Edicion,FechaDePublicacion)
Values(NEWID(),1,GETDATE());

INSERT INTO Libros(Nombre,Edicion,FechaDePublicacion)
Values(NEWID(),3,GETDATE());

INSERT INTO Libros(Nombre,Edicion,FechaDePublicacion)
Values(NEWID(),6,GETDATE());








Ya abajo

INSERT INTO Maestros(Id,Nombre,ApellidoPaterno,ApellidoMaterno,FechaDeNacimiento)
Values(NEWID(),'Jose','perez','Santiago',GETDATE());

INSERT INTO Maestros(Id,Nombre,ApellidoPaterno,ApellidoMaterno,FechaDeNacimiento)
Values(NEWID(),'Luis','Carlos','marquez',GETDATE());

INSERT INTO Maestros(Id,Nombre,ApellidoPaterno,ApellidoMaterno,FechaDeNacimiento)
Values(NEWID(),'Crocker','gonzales','futterkiste',GETDATE());











INSERT INTO Materias(Id,NombreDeLaMateria,GradoDeLaMateria)
Values(NEWID(),'Matematicas','4');

INSERT INTO Materias(Id,NombreDeLaMateria,GradoDeLaMateria)
Values(NEWID(),'Fisica','5');

INSERT INTO Materias(Id,NombreDeLaMateria,GradoDeLaMateria)
Values(NEWID(),'Hisotoria','2');










INSERT INTO Nomina(NumeroDeEmpleado,Horas,Pago)
Values(NEWID(),15,12);

INSERT INTO Nomina(NumeroDeEmpleado,Horas,Pago)
Values(NEWID(),15,11);

INSERT INTO Nomina(NumeroDeEmpleado,Horas,Pago)
Values(NEWID(),4,3);










INSERT INTO PagosDeColegiatura(Matricula,Inscripcion,Materias,Beca)
Values(NEWID(),1,2,3);

INSERT INTO PagosDeColegiatura(Matricula,Inscripcion,Materias,Beca)
Values(NEWID(),3,2,5);

INSERT INTO PagosDeColegiatura(Matricula,Inscripcion,Materias,Beca)
Values(NEWID(),4,66,4);









INSERT INTO Salones(Id,Nombre,CantidadDeAsientos,Ubicacion)
Values(NEWID(),'pri',2,'piso1');

INSERT INTO Salones(Id,Nombre,CantidadDeAsientos,Ubicacion)
Values(NEWID(),'segun',6,'piso1');

INSERT INTO Salones(Id,Nombre,CantidadDeAsientos,Ubicacion)
Values(NEWID(),'terce',6,'piso2');










INSERT INTO TallaUniforme(Id,UniformeDeportivo,UniformeGala)
Values(NEWID(),5,1);

INSERT INTO TallaUniforme(Id,UniformeDeportivo,UniformeGala)
Values(NEWID(),9,4);

INSERT INTO TallaUniforme(Id,UniformeDeportivo,UniformeGala)
Values(NEWID(),3,1);









--10 inserts extras 













--Delete 

DELETE from TallaUniforme where UniformeDeportivo = 140;
DELETE from TallaUniforme where UniformeDeportivo = 445;
DELETE from Salones where Nombre = 'once';
DELETE from Salones where Nombre = 'trece';
DELETE from Nomina where Horas = 244;
DELETE from Nomina where Horas = 444;
DELETE from Libros where Edicion = 88;
DELETE from Libros where Edicion = 98;
DELETE from Alumnos where Nombre = 'antonio';
DELETE from Alumnos where Nombre = 'esponja';


--Update

Update TallaUniforme Set UniformeGala  = 20;
Update TallaUniforme Set UniformeDeportivo=333 where UniformeGala < 30;
Update Salones Set Nombre = 'nada';
update Salones set Nombre = 'lleno';
Update Nomina set Horas = 0;
update Nomina set Horas = 10000 where Horas <30;
update Libros set Edicion = 0;
update Libros set Edicion= 322;
update Alumnos set Nombre = 'Calamardo' where Nombre= 'Beto';
update Alumnos set Nombre = 'Miguel Angel ' where Nombre ='amy';



